.mark_open_files
{
	opacity:66%;
}
.mark_open_files:hover
{
	opacity:100%;
	color:var(--icon-color-hover)
}
.mark_open_files
{
	margin-right:2px;
	padding:0 2px;
}
.marker_position_left
{
	position:absolute;
	left:0;
}
.marker_position_after
{
	order:10;
	padding-left:4px;
	margin-right:0;
	align-self:flex-end;
}
.marker_position_right
{
	order:10;
	margin-left:auto;
	padding-left:4px;
	align-self:flex-end;
}
